body{
    background-color: #353200;
}
#container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 166px;
    border: 1px solid black;
    margin-top: -26px;

}
header{
    background-color: #FFF654;
    width: 900px;
    height: 166px;
    display: flex;
}
nav{
    width: 30%;
}
nav ul{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: auto;
}
nav ul li{
    list-style-type: none;
    margin: 0px;
    padding: 6.6px;
    background-color: white;
    color: black;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
}
nav ul li:hover{
    background-color: lightgray;
    color: black;
}
section{
    width: 900px;
    background-image: url('Images/backimage.jpg');
    background-repeat: repeat-y;
    margin-left: -1px;
    border: 1px solid black;
}
article{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFBAA;
    text-align: left;
}
article p{
    text-align: left;
}
footer{
    width: 900px;
    background-color: #D4CF6A;
    height: 100px;
    color: black;
}

#thumbs, #image {
    width: 700px;
    border: solid 1px 000;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #000;
    background: #eee;
    padding: 5px;
    }
#thumbs {
    margin-top: 10px;
}
#thumbs img {
    border: solid 1px #000;
    margin: 5px;
}
#image{
    height:400px;
}
.centered{
    text-align: center;
}
